body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cdeccd;
    color: #333;
}

header {
    background-color: #58aa58;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #f7fff7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #58aa58;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#random-posts {
    font-family: Arial;
    font-size: small;
    text-align: center;
}
article{
    background-color: #3bb143;
    padding: 0.2rem;
    margin: 1rem auto;
    border-radius: 5%;
    color: navajowhite;
    width: 48%;
}
#tag-style{
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/*form {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/* Style for the search input */
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 16px;
    margin-left: 5px;
}
#search-bar{
    width: 80%;
}
/* Style for the search button */
button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Optional: Hover effect for the button */
button:hover {
    background-color: #45a049;
}
.gray-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    margin: 2px;
}
.image-item img {
    margin: 2px; /* Optional: Add border-radius for rounded corners */
    filter: grayscale(100%); /* Apply grayscale filter to desaturate the image */
}
.image-item label {
    margin-top: 1.5rem;
    color: #fff; /* Set label text color to white */
}



/* styles.css */
#notification-icon {
    cursor: pointer;
}

#notification-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
}
